<section class="page-header">
  <div  style="display: inline-block;">
    <div style="display: table;">
      <div style="display: table-cell;">
        <h1 class="project-name">{{ site.title }}</h1>
        <h2 class="project-tagline">{{ site.tagline }}</h2>
        <a href="https://github.com/PTAnywhere" class="btn">View on GitHub</a>
        <a href="http://pt-anywhere.kmi.open.ac.uk" class="btn">View official website</a>
      </div>
      <div style="display: table-cell; vertical-align: middle; padding-left: 5%;">
        <img src="/pt-anywhere-icon.png" alt="PT Anywhere logo">
      </div>
    </div>
  </div>
</section>
